.div {
    text-align: center;
    margin: auto;
    border: 1px solid black;
    width: 50%;
    margin-top: 50px;
}

.input {
    width: 50%;
    margin: auto;
}

@media(max-width: 650px){
    .div {
        width: 100%;
    }
}