.socialinput {
    width: 50%;
    margin: auto;
    margin-top: 50px;
}

.ul { 
    list-style-type: none;
    width: 600px;
    margin: auto;
}

.li { 
    border: 1px solid gainsboro;
    margin-top: 30px;
    border-radius: 10px;
    text-align: center;
    margin-right: 30px;
}

.Button {
    margin-bottom: 10px;
}

.Button_logout {
    position: absolute; 
    margin-left: 20px; 
    margin-top: 5px;
    top: 1px;
    width: 20%;
    height: 50px;
}

.not_find_user { 
    text-align: center;
    font-size: 20px;
    padding-right: 20%;
}

@media (max-width: 650px){ 
    .container {
        text-align: center;
        margin-right: 45%;
    }
    .Button_logout{
        width: 40%;
    }
    .li{
        width: 70%;
    }
}