.user {
    border: 1px solid gainsboro;
    border-radius: 20px;
    margin: auto;
    width: 85%;
    margin-bottom: 30px;
    height: 50px;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

.active {
    font-weight: bold;
    background-color: #e6e6e6;
    color: black;
    border: 1px solid grey;
    border-radius: 20px;
    margin: auto;
    width: 85%;
    margin-bottom: 30px;
    height: 50px;
    text-align: center;
    margin-top: 30px;
}

.user:hover {
    background-color: #e6e6e6;
    color: black;
    cursor: pointer;
}