.LandingPage {
    margin: auto;
    margin-top: 100px;
    text-align: center;
    border: 1px solid black;
    width: 35%;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.input {
    margin: auto;
}

.button {
    margin-bottom: 30px;
}

@media (max-width: 650px){
    .LandingPage{
        width: 100%;
    }
}