.nav {
    display: flex;
    justify-content: center;
    margin: auto;
    border: 1px solid black;
    width: 50%;
}
.nav p{
    margin: 10px 10% 10px 10%;
    font-weight: bold;
}

.nav p:hover{
    color: #008c8c;
    cursor: pointer;
}

.active {
    color: #008c8c;
}